@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color:#E8FFC2;
    font-family: 'Poppins', sans-serif;
}
.datePosted{
    color:#0E185F;
    
}

.postby{
    margin-right: 10px;
}
.post-card{
    margin-bottom:20px;
}
.icon {
    height: 30px;
    width: 30px;
    display: block;
    object-fit: scale-down;
    max-width:100%;
    max-height: 100%;
    /* Other styles here */
}
.form-style{
    max-width: 600px;
    margin-top: 20px;
    
    border:0.2px solid;
    border-radius: 10px;
    padding:15px;
    margin-bottom: 10px;
    border-top:25px solid;
    border-color:#0E185F;
    background-color: whitesmoke;
}

#floatingTextarea2{
    margin-bottom: 15px;
}
#editbtn{
    position: absolute;  
right: 10px;  
top: 35%;
}
.btn-primary{
    margin-bottom: 10px;
}
.grp-icon,.edit-icon,.bluetxt{
    color:#0E185F
}
.edit-icon{
    font-size: 1.2em;
    top:20px;   
}